.classRecord-title {
    padding: 24px 32px 24px 32px;
}

.classRecord-header {
    padding: 24px 32px 24px 32px;
}

/* Override padding */
.table> :not(caption)>*>* {
    padding: .5rem .5rem !important;
}


.BtnStyle {
    background-color: rgba(164, 29, 33, 1) !important;
    color: #ffffff !important;
    border-color: rgba(164, 29, 33, 1) !important
}

.grade-distribution table,
.grade-distribution h3,
.grade-conversion table,
.grade-conversion h3 {
    text-align: center;
}

.grade-conversion tbody tr:nth-of-type(even) {
    background: #a09595;
}

.dist-con,
.accordion {
    padding: 40px;
}

.class-record-modal-body .form-group {
    margin-bottom: 24px;

}

.class-record-modal-body {
    margin: 16px
}

.class-record-modal-header {
    margin-left: 16px;
    margin-right: 16px
}

.class-record-modal-footer {
    margin-left: 16px;
    margin-right: 16px
}

.class-record-modal-body .form-group select.form-control.form-select {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-radius: 16px;
}

.nav-link.active {
    font-weight: bold;
  }

  .nav-link:not(.active) {
    color: black;
  }



  td {
    font-size: 14px;
    word-wrap: break-word;
  }
  
  th {
    font-size: 14px;
  
  }
  
  .table td{
    padding-top: 0px !important;
    padding-bottom: 0px !important; /* Adjust as needed */
  }

.nav.nav-tabs {
    padding: 24px 32px 0px 32px;
  
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 41px; 
  }
  .sticky-thead {
    position: -webkit-sticky;
    position: sticky;
    top: 106px;
    background-color: black !important;
    z-index: 1000; /* Ensure the sticky header appears above other elements */
}

.sticky-thead::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    border: 1px solid black; /* Choose a color for the bottom border */
}

.class-record-table {
    padding-left: 32px;
    padding-right: 32px;
}
/* #dynamic-table th,
#dynamic-table td {
    white-space: nowrap;
    text-align: center;
}

#dynamic-table th:nth-child(1),
#dynamic-table td:nth-child(1) {
    min-width: 50px !important;
    border: 1px solid #ccc;
    position: sticky;
    z-index: 1;
    left: 0;
}

#dynamic-table th:nth-child(2),
#dynamic-table td:nth-child(2) {
    min-width: 140px !important;
    border: 1px solid #ccc;
    border-block: 1px solid #ccc;
    position: sticky;
    z-index: 1;
    left: 0;
}


#dynamic-table th,
#dynamic-table td {
    min-width: 180px;
    border: 1px solid #ccc;
}

#dynamic-table th:last-child,
#dynamic-table td:last-child {
    min-width: 50px !important;
    border: 1px solid #ccc;
    position: sticky;
    z-index: 1;
    right: 0;
}


.activityList h3{
    border: none;
    
} */