.classRecord-title {
    padding: 24px 32px 24px 32px;
}

.classRecord-header {
    padding: 24px 32px 24px 32px;
}

.classRecord-body .classRecord-table {
    width: 96.5%;
    margin-left: 21px;
    overflow-x: auto;  /* Add this line to enable horizontal scrolling */

}

.btn {
    background-color: rgba(164, 29, 33, 1) !important;
    color: #ffffff !important;
    border-color: rgba(164, 29, 33, 1) !important
}

.table-container {
    overflow-x: auto;
    max-width: 100%; /* optional: restrict the maximum width of the container */
}
.grade-distribution table,
.grade-distribution h3,
.grade-conversion table,
.grade-conversion h3 {
    text-align: center;
}

.grade-conversion tbody tr:nth-of-type(even)
{
    background: #a09595;
}

.dist-con,
.accordion
{
    padding: 40px;
}
