

.header {
    background-color: #A41D21;
    padding-top: 3vh;
    padding-bottom: 1vh;
}

.content {
    background: #E9E3E3;
    padding-top: 15vh;

}

/*    --------------------------------------------------
  :: Login Section
  -------------------------------------------------- */

#login .form-wrap {
    width: 30%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;

}

#login img {
    height: 250px;
    width: 235px;
    padding-bottom: 5vh;
}

#login h1 {
    color: #000000;
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 5px;
    font-family: 'Open Sans', sans-serif;

}

#login p {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
    font-family: 'Open Sans', sans-serif;

}

#login .newToIIT {
    font-size: 16px;
    text-align: center;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 15px;
    font-family: 'Open Sans', sans-serif;

}