body {
    background: #eee;
}

#side_nav {
    background: #333333;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    position: fixed;
    height: 100%;
}

.content {
    min-height: 100vh;
    width: 100%;
    margin-left: 250px;
}

hr.h-color {
    background: #eee;
}

.sidebar li.active {
    background: #eee;
    border-radius: 8px;
}

.sidebar li.active a,
.sidebar li.active a:hover {
    color: #000;
}

.sidebar li a {
    color: #fff;
}

@media (max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: absolute;
        min-height: 100vh;
        z-index: 1;
    }

    #side_nav.active {
        margin-left: 0;
    }

    .content {
        margin-left: 0;
    }
}

/* Make the navbar sticky */
.header-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2001;
    width: 100%;
    background-color: #A41D21; /* Adjust the background color as needed */
}

.header-placeholder {
    height: 64px; /* Set the height to match the height of your fixed header */
}

.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100vh;
    background-color: #333;
    transition: left 850ms ease;
    z-index: 2002; /* Initial z-index value */
}

#side_nav.active {
    left: 0;
    transition: left 350ms ease;
}

.navbar.navbar-expand-md{
    position: relative;
}
.header-header .navbar {
    background-color: #A41D21;
    color: #FFF;
}

.dashboard-content {
    width: 100%;
    position:fixed;
    left: 0;
    z-index: 2000;
    transition: 350ms ease;
}
.header-box {
    margin-left: 20px;
    margin-right: 16px;
}
.navbar.navbar-expand-md{
    margin-left: 16px;
    margin-right: 16px;
}
.header-header .navbar-toggler-icon {
    background-color: #FFF;
}
.menu-bars #show-menu {
    margin-left: 16px;
}
.header-header .navbar-nav .nav-link {
    color: #FFF;
}

.header-header .navbar-nav .nav-link:hover {
    color: #000;
}

.header-header .nav-item img {
    border: 1px solid #FFF;
    border-radius: 50%;
}

.header-header .nav-item i {
    font-size: 1.5rem;
}

.header-header .navbar-toggler {
    border: none;
    outline: none;
}

