#schedule .codyhouse {
  text-align: center;
  margin: 40px 0;
}

#schedule html,
#schedule body,
#schedule div,
#schedule span,
#schedule applet,
#schedule object,
#schedule iframe,
#schedule h1,
#schedule h2,
#schedule h3,
#schedule h4,
#schedule h5,
#schedule h6,
#schedule p,
#schedule blockquote,
#schedule pre,
#schedule a,
#schedule abbr,
#schedule acronym,
#schedule address,
#schedule big,
#schedule cite,
#schedule code,
#schedule del,
#schedule dfn,
#schedule em,
#schedule img,
#schedule ins,
#schedule kbd,
#schedule q,
#schedule s,
#schedule samp,
#schedule small,
#schedule strike,
#schedule strong,
#schedule sub,
#schedule sup,
#schedule tt,
#schedule var,
#schedule b,
#schedule u,
#schedule i,
#schedule center,
#schedule dl,
#schedule dt,
#schedule dd,
#schedule ol,
#schedule ul,
#schedule li,
#schedule fieldset,
#schedule form,
#schedule label,
#schedule legend,
#schedule table,
#schedule caption,
#schedule tbody,
#schedule tfoot,
#schedule thead,
#schedule tr,
#schedule th,
#schedule td,
#schedule article,
#schedule aside,
#schedule canvas,
#schedule details,
#schedule embed,
#schedule figure,
#schedule figcaption,
#schedule footer,
#schedule header,
#schedule hgroup,
#schedule menu,
#schedule nav,
#schedule output,
#schedule ruby,
#schedule section,
#schedule summary,
#schedule time,
#schedule mark,
#schedule audio,
#schedule video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 50%;
  font: inherit;
  vertical-align: baseline;
}

#schedule article,
#schedule aside,
#schedule details,
#schedule figcaption,
#schedule figure,
#schedule footer,
#schedule header,
#schedule hgroup,
#schedule menu,
#schedule nav,
#schedule section,
#schedule main {
  display: block;
}

#schedule body {
  line-height: 1;
}

#schedule ol,
#schedule ul {
  list-style: none;
}

#schedule blockquote,
#schedule q {
  quotes: none;
}

#schedule blockquote:before,
#schedule blockquote:after,
#schedule q:before,
#schedule q:after {
  content: '';
  content: none;
}

#schedule table {
  border-collapse: collapse;
  border-spacing: 0;
}

#schedule *,
#schedule *::after,
#schedule *::before {
  box-sizing: border-box;
}

#schedule html {
  font-size: 62.5%;
}

#schedule body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #222222;
  background-color: white;
}


#schedule a {
  color: #A2B9B2;
  text-decoration: none;
}

/* -------------------------------- 
  
  Main Components 
  
  -------------------------------- */
#schedule .cd-schedule {
  position: relative;
  margin: 2em 0;
}

#schedule .cd-schedule::before {
  content: 'mobile';
  display: none;
}

@media only screen and (min-width: 800px) {
  #schedule .cd-schedule {
    width: 90%;
    max-width: 1400px;
    margin: 2em auto;
  }

  #schedule .cd-schedule::after {
    clear: both;
    content: "";
    display: block;
  }

  #schedule .cd-schedule::before {
    content: 'desktop';
  }
}

#schedule .cd-schedule .timeline {
  display: none;
}

@media only screen and (min-width: 800px) {
  #schedule .cd-schedule .timeline {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 50px;
  }

  #schedule .cd-schedule .timeline li {
    position: relative;
    height: 50px;
  }

  #schedule .cd-schedule .timeline li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #EAEAEA;
  }

  #schedule .cd-schedule .timeline li:last-of-type::after {
    display: none;
  }

  #schedule .cd-schedule .timeline li span {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  #schedule .cd-schedule .timeline li::after {
    width: calc(100% - 60px);
    left: 60px;
  }

  #schedule .cd-schedule .timeline li span {
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #schedule .cd-schedule .timeline li:nth-of-type(2n) span {
    display: none;
  }
}

#schedule .cd-schedule .events {
  position: relative;
  z-index: 1;
}

#schedule .cd-schedule .events .events-group {
  margin-bottom: 30px;
}

#schedule .cd-schedule .events .top-info {
  width: 100%;
  padding: 0 5%;
}

#schedule .cd-schedule .events .top-info>span {
  display: inline-block;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: bold;
}

#schedule .cd-schedule .events .events-group>ul {
  position: relative;
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

#schedule .cd-schedule .events .events-group>ul::after {
  display: inline-block;
  content: '-';
  width: 1px;
  height: 100%;
  opacity: 0;
  color: transparent;
}

#schedule .cd-schedule .events .single-event {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  float: left;
  height: 150px;
  width: 70%;
  max-width: 300px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  -webkit-transition: opacity .2s, background .2s;
  transition: opacity .2s, background .2s;
}

#schedule .cd-schedule .events .single-event:last-of-type {
  margin-right: 5%;
}

#schedule .cd-schedule .events .single-event a {
  display: block;
  height: 100%;
  padding: .8em;
}

@media only screen and (min-width: 550px) {
  #schedule .cd-schedule .events .single-event {
    width: 40%;
  }
}

@media only screen and (min-width: 800px) {
  #schedule .cd-schedule .events {
    float: left;
    width: 100%;
  }

  #schedule .cd-schedule .events .events-group {
    width: 14%;
    float: left;
    border: 1px solid #EAEAEA;
    margin-bottom: 0;
  }

  #schedule .cd-schedule .events .events-group:not(:first-of-type) {
    border-left-width: 0;
  }

  #schedule .cd-schedule .events .top-info {
    display: table;
    height: 50px;
    border-bottom: 1px solid #EAEAEA;
    padding: 0;
  }

  #schedule .cd-schedule .events .top-info>span {
    display: table-cell;
    vertical-align: middle;
    padding: 0 .5em;
    text-align: center;
    font-weight: normal;
    margin-bottom: 0;
  }

  #schedule .cd-schedule .events .events-group>ul {
    height: 950px;
    display: block;
    overflow: visible;
    padding: 0;
  }

  #schedule .cd-schedule .events .events-group>ul::after {
    clear: both;
    content: "";
    display: block;
  }

  #schedule .cd-schedule .events .events-group>ul::after {
    display: none;
  }

  #schedule .cd-schedule .events .single-event {
    position: absolute;
    z-index: 3;
    width: calc(100% + 2px);
    left: -1px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(0, 0, 0, 0.2);
    -ms-flex-negative: 1;
    flex-shrink: 1;
    height: auto;
    max-width: none;
    margin-right: 0;
  }

  #schedule .cd-schedule .events .single-event a {
    padding: 1.2em;
  }

  #schedule .cd-schedule .events .single-event:last-of-type {
    margin-right: 0;
  }

  #schedule .cd-schedule .events .single-event.selected-event {
    visibility: hidden;
  }
}

@media only screen and (min-width: 1000px) {
  #schedule .cd-schedule .events {
    width: calc(100% - 60px);
    margin-left: 60px;
  }
}

#schedule .cd-schedule.loading .events .single-event {
  opacity: 0;
}

#schedule .cd-schedule .event-name,
#schedule .cd-schedule .event-date {
  display: block;
  color: white;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#schedule .cd-schedule .event-name {
  font-size: 2.4rem;
}

@media only screen and (min-width: 800px) {
  #schedule .cd-schedule .event-name {
    font-size: 1rem;
  }
}

#schedule .cd-schedule .event-date {
  font-size: 1rem;
  opacity: .7;
  line-height: 1.2;
  margin-bottom: .2em;
}

#schedule .cd-schedule .single-event[data-event="event-1"],
#schedule .cd-schedule [data-event="event-1"] .header-bg {
  background: #577F92;
}

#schedule .cd-schedule .single-event[data-event="event-1"]:hover {
  background: #618da1;
}

#schedule .cd-schedule .single-event[data-event="event-2"],
#schedule .cd-schedule [data-event="event-2"] .header-bg {
  background: #443453;
}

#schedule .cd-schedule .single-event[data-event="event-2"]:hover {
  background: #513e63;
}

#schedule .cd-schedule .single-event[data-event="event-3"],
#schedule .cd-schedule [data-event="event-3"] .header-bg {
  background: #A2B9B2;
}

#schedule .cd-schedule .single-event[data-event="event-3"]:hover {
  background: #b1c4be;
}

#schedule .cd-schedule .single-event[data-event="event-4"],
#schedule .cd-schedule [data-event="event-4"] .header-bg {
  background: #f6b067;
}

#schedule .cd-schedule .single-event[data-event="event-4"]:hover {
  background: #f7bd7f;
}

.cd-schedule .event-modal {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  /* Force Hardware acceleration */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: visibility .4s, -webkit-transform .4s;
  transition: visibility .4s, -webkit-transform .4s;
  transition: transform .4s, visibility .4s;
  transition: transform .4s, visibility .4s, -webkit-transform .4s;
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

#schedule .cd-schedule .event-modal {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  /* Force Hardware acceleration */
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: visibility .4s, -webkit-transform .4s;
  transition: visibility .4s, -webkit-transform .4s;
  transition: transform .4s, visibility .4s;
  transition: transform .4s, visibility .4s, -webkit-transform .4s;
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

#schedule .cd-schedule .event-modal .header {
  position: relative;
  height: 70px;
  /* vertically center its content */
  display: table;
  width: 100%;
}

#schedule .cd-schedule .event-modal .header .content {
  position: relative;
  z-index: 3;
  /* vertically center inside its parent */
  display: table-cell;
  vertical-align: middle;
  padding: .6em 5%;
}

#schedule .cd-schedule .event-modal .body {
  position: relative;
  width: 100%;
  /* 70px is the .header height */
  height: calc(100% - 70px);
}

#schedule .cd-schedule .event-modal .event-info {
  position: relative;
  z-index: 2;
  line-height: 1.4;
  height: 100%;
  overflow: hidden;
}

#schedule .cd-schedule .event-modal .event-info>div {
  overflow: auto;
  height: 100%;
  padding: 1.4em 5%;
}

#schedule .cd-schedule .event-modal .header-bg,
#schedule .cd-schedule .event-modal .body-bg {
  /* these are the morphing backgrounds - visible on desktop only */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#schedule .cd-schedule .event-modal .body-bg {
  z-index: 1;
  background: white;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}

#schedule .cd-schedule .event-modal .header-bg {
  z-index: 2;
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
}

#schedule .cd-schedule .event-modal .close {
  /* this is the 'X' icon */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.1);
  /* replace text with icon */
  color: transparent;
  white-space: nowrap;
  text-indent: 100%;
  height: 70px;
  width: 70px;
}

#schedule .cd-schedule .event-modal .close::before,
#schedule .cd-schedule .event-modal .close::after {
  /* these are the two lines of the 'X' icon */
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#schedule .cd-schedule .event-modal .close::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

#schedule .cd-schedule .event-modal .close::after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

#schedule .cd-schedule .event-modal .event-date {
  display: none;
}

#schedule .cd-schedule .event-modal.no-transition {
  -webkit-transition: none;
  transition: none;
}

#schedule .cd-schedule .event-modal.no-transition .header-bg,
#schedule .cd-schedule .event-modal.no-transition .body-bg {
  -webkit-transition: none;
  transition: none;
}

@media only screen and (min-width: 800px) {
  #schedule .cd-schedule .event-modal {
    /* reset style */
    right: auto;
    width: auto;
    height: auto;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    will-change: transform, width, height;
    -webkit-transition: height .4s, width .4s, visibility .4s, -webkit-transform .4s;
    transition: height .4s, width .4s, visibility .4s, -webkit-transform .4s;
    transition: height .4s, width .4s, transform .4s, visibility .4s;
    transition: height .4s, width .4s, transform .4s, visibility .4s, -webkit-transform .4s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }

  #schedule .cd-schedule .event-modal .header {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
  }

  #schedule .cd-schedule .event-modal .header .content {
    /* reset style */
    display: block;
    padding: .8em;
  }

  #schedule .cd-schedule .event-modal .event-info>div {
    padding: 2em 3em 2em 2em;
  }

  #schedule .cd-schedule .event-modal .body {
    height: 100%;
    width: auto;
  }

  #schedule .cd-schedule .event-modal .header-bg,
  #schedule .cd-schedule .event-modal .body-bg {
    /* Force Hardware acceleration */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  #schedule .cd-schedule .event-modal .header-bg {
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }

  #schedule .cd-schedule .event-modal .body-bg {
    opacity: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  #schedule .cd-schedule .event-modal .event-date {
    display: block;
  }

  #schedule .cd-schedule .event-modal .close,
  #schedule .cd-schedule .event-modal .event-info {
    opacity: 0;
  }

  #schedule .cd-schedule .event-modal .close {
    width: 40px;
    height: 40px;
    background: transparent;
  }

  #schedule .cd-schedule .event-modal .close::after,
  #schedule .cd-schedule .event-modal .close::before {
    background: #222222;
    height: 16px;
  }
}

@media only screen and (min-width: 1000px) {
  #schedule .cd-schedule .event-modal .header .content {
    padding: 1.2em;
  }
}

#schedule .cd-schedule.modal-is-open .event-modal {
  /* .modal-is-open class is added as soon as an event is selected */
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
}

#schedule .cd-schedule.modal-is-open .event-modal .event-info>div {
  /* smooth scroll on iOS touch devices */
  -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 800px) {

  #schedule .cd-schedule.animation-completed .event-modal .close,
  #schedule .cd-schedule.content-loaded.animation-completed .event-modal .event-info {
    /* 	the .animation-completed class is added when the modal animation is completed
            the .content-loaded class is added when the modal content has been loaded (using ajax) */
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
  }

  #schedule .cd-schedule.modal-is-open .body-bg {
    opacity: 1;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
}

#schedule .cd-schedule .cover-layer {
  /* layer between the content and the modal window */
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s, visibility .4s;
  transition: opacity .4s, visibility .4s;
}

#schedule .cd-schedule.modal-is-open .cover-layer {
  opacity: 1;
  visibility: visible;
}