html,
body {
    background: white;
}

* {
    padding: 0;
    margin: 0;
}

.subjects-handled-title {
    padding: 24px 32px 24px 32px;
}

.subjects-handled-header {
    padding: 24px 32px 24px 32px;
}

.subjects-handled-body .subjects-handled-table .table {
    width: 96.5%;
    margin-left: 21px;
}

#placeholder {
    color: gray;
}