.subHandled-title {
    padding: 24px 32px 24px 32px;
}

.subHandled-header {
    padding: 24px 32px 24px 32px;
}

.subHandled-body .subHandled-table .table {
    width: 96.5%;
    margin-left: 21px;
}

.ShowClassRecordBtn {
    background-color: rgba(164, 29, 33, 1) !important;
    color: #ffffff !important;
    border-color: rgba(164, 29, 33, 1) !important
}