.subject-list-title {
    padding: 24px 32px 24px 32px;
}

.subject-list-header {
    padding: 24px 32px 24px 32px;
}

.subject-list-body .subject-list-table .table {
    width: 96.5%;
    margin-left: 21px;
}

.subject-list-modal-body .form-group {
    margin-bottom: 24px;

}

.subject-list-modal-body {
    margin: 16px
}

.subject-list-modal-header {
    margin-left: 16px;
    margin-right: 16px
}

.subject-list-modal-footer {
    margin-left: 16px;
    margin-right: 16px
}

.subject-list-modal-body .form-group input.form-control {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-radius: 16px;
}

.AddSubjectBtn {
    background-color: rgba(164, 29, 33, 1) !important;
    color: #ffffff !important;
    border-color: rgba(164, 29, 33, 1) !important
}

.AddSubject {
    background-color: rgba(164, 29, 33, 1) !important;
    color: #ffffff
        /* Text color, assuming you want it to be white */
        !important;
    border-color: rgba(164, 29, 33, 1) !important
        /* Add any other styles you need */
}