{% extends "class_record_layout.html" %}

{% block classtitle %}
<title>Assessment</title>
{% endblock %}

{% block classpages %}
<div class="px-5 pt-3 d-flex align-items-center">
    <h1>{{Name}}</h1>
    <div class="dropdown ps-3">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('classRecord.index', subject_code=ClassDetails[0], description=ClassDetails[1], section_code=ClassDetails[2], credits=ClassDetails[3], sem=ClassDetails[4], school_year=ClassDetails[5]) }}">Class List</a>
            </li>
            {% for Assessment in Assessments %}
            {% set assessment_link = Assessment[0]|replace(' ', '_') %}
            <li><a class="dropdown-item" href="{{ url_for('classRecord.assessment_record', assessment=assessment_link) }}">{{Assessment[0]}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="classRecord-header">
    <div id="flash-messages-container">
        {% if flash_message %}
        <div class="alert alert-{{ flash_message.type }} alert-dismissible fade show" role="alert">
            <div class="d-flex justify-content-between align-items-center">
            <span>{{ flash_message.message | safe }}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="table-container d-flex pb-4">
    <div class="classRecord-body">
        <table class="table table-hover" id="dynamic-table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="justify-content-center">Higest Score:</th>
                    <th>10</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Student ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>S</th>
                    <th>
                        <button type="button" class="btn btn-secondary">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </th>
                    <th>Total Score</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if Students|length == 0 %}
                <td colspan="8" class="text-center">No Students Entrolled on This Class.</td>
                {% else %} {% for Student in Students %}
                <tr>
                    <td>{{Student[0]}}</td>
                    <td>{{Student[1]}}</td>
                    <td>{{Student[2]}}</td>
                    <td>{{Student[3]}}</td>
                    <td>{{Student[6]}}</td>
                    <td></td>
                    <td>{{Student[5]}}</td>
                    <td>
                        <button type="button" class="btn btn-outline-light">
                            <i class="fa-solid fa-plus" style="color: #000000;"></i>
                        </button>
                        <button type="button" class="btn 1">
                            <i class="fa-solid fa-bell" style="color: #000000;"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %} {% endif %}
            </tbody>
        </table>
    </div>
</div>

<hr class="pt-4">
{% endblock %}
