{% extends "master_layout.html" %}

{% block pagetitle %}

{% block classtitle %}
{% endblock %}

{% endblock %}

{% block pagestyle %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/class-record.css') }}">
{% endblock %}

{% block pages %}
<meta name="csrf-token" content="{{ csrf_token() }}">
<div class="classRecord-container">
<div class="classRecord-title">
    <div class="row">
        <div class="col-11">
            <h1><b>Class Record</b>: {{ClassDetails[0]}} - {{ClassDetails[1]}}</h1>
        </div>
        <div class="col-1">
            <a href="/subjects-handled" alt="Back to Subject Handled">
                <button type="button" class="btn btn btn-outline-secondary">
                    <i class="fa-solid fa-arrow-left-long fa-3x" style="color: #000000;"></i>
                </button>
            </a>
        </div>
    </div>
    <h3><b>Section</b>: {{ClassDetails[2]}} - {{session['name']}}</h3>
    <p>
        <b>School Year</b>: {{ClassDetails[5]}},
        {% if ClassDetails[4] == '1' %}
        <b>Semester</b>: {{ClassDetails[4]}}st
        {% elif ClassDetails[4] == '2' %}
        <b>Semester</b>: {{ClassDetails[4]}}2nd
        {% elif ClassDetails[4] == 'S' %}
        <b>Semester</b>: Summer
        {% endif %}
    </p>
</div>
<hr>
<div class="classRecord-content">
    {% block classpages %}
    {% endblock %}
    <!-- <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h1 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    <b>Learning Outcome 1</b>
                </button>
            </h1>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> This is the first item's accordion body.
                    It is hidden by default, until the collapse plugin adds the apprasdasdopriate classes that we use to
                    style each element. These classes control the overall appearance, as well as the showing and hiding
                    via CSS transitions.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                    <b>Learning Outcome 2</b>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>This is the first item's accordion body.
                    It is hidden by default, until the collapse plugin adds the apprasdasdopriate classes that we use to
                    style each element. These classes control the overall appearance, as well as the showing and hiding
                    via CSS transitions.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    <b>Learning Outcome 3</b>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> This is the first item's accordion body.
                    It is hidden by default, until the collapse plugin adds the apprasdasdopriate classes that we use to
                    style each element. These classes control the overall appearance, as well as the showing and hiding
                    via CSS transitions.
                </div>
            </div>
        </div>
    </div> -->
</div>
</div>
{% endblock %}

{% block pagescript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/class-record.js') }}"></script>
{% endblock %}
