{% extends "class_record_layout.html" %}

{% block classtitle %}
<title>Class Record</title>
{% endblock %}

{% block classpages %}
<div class="classRecord-header">
    <div class="row">
        <div class="col-2 float-end">
            <button type="button" class="btn btn-secondary BtnStyle AddStudentBtn" data-bs-toggle="modal" data-bs-target="#addStudentModal">
                Add Student
                <i class="fa-solid fa-user-plus"></i>
            </button>
        </div>
        <div class="col-4" id="flash-messages-container">
            {% if flash_message %}
            <div class="alert alert-{{ flash_message.type }} alert-dismissible fade show" role="alert">
                <div class="d-flex justify-content-between align-items-center">
                <span>{{ flash_message.message | safe }}</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            {% endif %}
            </div>
    </div>
</div>
<div class="table-container d-flex">
    <div class="classRecord-body">
        <table class="table table-hover" id="dynamic-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Student ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Course Code</th>
                    <th>Total Grade</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if Students|length == 0 %}
                <td colspan="6" class="text-center">No Students Entrolled on This Class.</td>
                {% else %} {% for Student in Students %}
                <tr>
                    <td>{{Student[0]}}</td>
                    <td>{{Student[1]}}</td>
                    <td>{{Student[2]}}</td>
                    <td>{{Student[3]}}</td>
                    <td>{{Student[4]}}</td>
                    <td>{{Student[5]}}</td>
                    <!-- <td>{{Student[6]}}</td> -->
                    <td>
                        <!-- <button type="button" class="btn btn-outline-light">
                            <i class="fa-solid fa-plus" style="color: #000000;"></i>
                        </button> -->
                        <button type="button" class="btn 1">
                            <i class="fa-solid fa-bell" style="color: #000000;"></i>
                        </button>
                        <button type="button" class="btn btn-outline-light delete-student" data-studentid="{{Student[1]}}" data-firstname="{{Student[2]}}" data-lastname="{{Student[3]}}" data-bs-toggle="modal" data-bs-target="#askDelete">
                            <i class="fa-solid fa-trash" style="color: #000000;"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %} {% endif %}
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="row dist-con mx-5">
    <div class="col-6 table-container">
        <div class="grade-distribution mx-5">
            <div>
                <h3>Grade Distribution
                    <button type="button" class="btn btn-secondary BtnStyle" style="height: 37px;" data-bs-toggle="modal" data-bs-target="#addAssessment">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </h3>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Assessments</th>
                        <th>Percentage</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if GradeDistributions|length == 0 %}
                    <td colspan="3" class="text-center">No Assessments Available.</td>
                    {% else %} {% for GradeDistribution in GradeDistributions %}
                    <tr>
                        <td>{{GradeDistribution[1]}}</td>
                        <td>{{GradeDistribution[2]}}%</td>
                        <td>
                            <button type="button" class="btn btn-outline-light">
                                <i class="fa-solid fa-trash" style="color: #000000;"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %} {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-6 table-container">
        <div class="grade-conversion mx-5">
            <div>
                <h3>Grade Conversion</h3>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Grade Range</th>
                        <th>Grade Point</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>97-100</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>94-96</td>
                        <td>1.25</td>
                    </tr>
                    <tr>
                        <td>91-93</td>
                        <td>1.50</td>
                    </tr>
                    <tr>
                        <td>88-90</td>
                        <td>1.75</td>
                    </tr>
                    <tr>
                        <td>85-87</td>
                        <td>2.00</td>
                    </tr>
                    <tr>
                        <td>82-84</td>
                        <td>2.25</td>
                    </tr>
                    <tr>
                        <td>79-81</td>
                        <td>2.50</td>
                    </tr>
                    <tr>
                        <td>76-78</td>
                        <td>2.75</td>
                    </tr>
                    <tr>
                        <td>75</td>
                        <td>3.00</td>
                    </tr>
                    <tr>
                        <td>FAIL</td>
                        <td>4.00-BELOW</td>
                    </tr>
                    <tr>
                        <td>--</td>
                        <td>INC/DROP</td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-secondary BtnStyle">
                <i class="fa-solid fa-pen"></i>
            </button>
        </div>
    </div>
</div>


<div class="modal fade" id="addStudentModal" data-bs-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="editFacultyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="{{ url_for('classRecord.create_student') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
            <div class="modal-content">
                <div class="modal-header class-record-modal-header">
                    <h5 class="modal-title">Add Student Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body class-record-modal-body">
                    <div class="form-group">
                        <label>Student ID</label>
                        <input type="text" name="studentID" class="form-control" placeholder="Enter ID">
                    </div>
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" name="firstname" class="form-control" placeholder="Enter First Name">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" name="lastname" class="form-control" placeholder="Enter Last Name">
                    </div>
                    <div class="form-group">
                        <label>Course Code</label>
                        <input type="text" name="coursecode" class="form-control" placeholder="Enter Course Code">
                    </div>
                    <div class="form-group">
                        <label>IIT Email</label>
                        <input type="text" name="email" class="form-control" placeholder="Enter Email">
                    </div>
                </div>
                <div class="modal-footer class-record-modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark" style="color: #ffffff;"></i> Close
                    </button>
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal"> <i
                            class="fa-solid fa-user-pen"></i>Add Student</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal" tabindex="-1" id="askDelete" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body delete-modal-body">
          <!-- Faculty details will be dynamically inserted here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary delete-button">Yes</button>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="addAssessment" data-bs-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="editFacultyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="{{ url_for('classRecord.create_grade_distribution') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
            <div class="modal-content">
                <div class="modal-header class-record-modal-header">
                    <h5 class="modal-title">Add Class Assessment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body class-record-modal-body">
                    <div class="form-group">
                        <label>Assessment</label>
                        <input type="text" name="name" class="form-control" placeholder="Enter Assessment">
                    </div>
                    <div class="form-group">
                        <label>Percentage</label>
                        <input type="text" name="percentage" class="form-control" placeholder="Enter Percentage Value">
                    </div>
                </div>
                <div class="modal-footer class-record-modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark" style="color: #ffffff;"></i> Close
                    </button>
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal"> <i
                            class="fa-solid fa-user-pen"></i>Add Assessement</button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}
