{% extends "master_layout.html" %}

{% block pagetitle %}<title>Home</title> {% endblock %}

{% block pagestyle %}
<!-- <link rel="stylesheet" href="../static/css/NAME.css"> -->
{% endblock %}

{% block pages %}
<div>
    <h2 class="fs-5"> Welcome, {{session['name']}}!</h2>
    <img src="{{ session['profile_picture']}}" alt="Profile Picture">
    <hr>
    <p>Our user-friendly platform aims to reform academic management by consolidating processes. 
        Role-based access control tailors features for faculties, chairpersons, and administrators. 
        The system facilitates class record management, allowing faculty to import students, add assessments, and assign activity scores effortlessly. 
        Automated notifications enhance communication, and a focus on security, privacy, and scalability ensures information flow.</p>
</div>
{% endblock %}

{% block pagescript %}
<script></script>
{% endblock %}