<!-- Child Template -->
{% extends "master_layout.html" %}

{% block title %} <title>Login</title> {% endblock %}


{% block style %}
<link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block content %}
<div class="header"></div>
<div class="content">
    <section id="login">
        <div class="container">
            <div class="row">
                <img src="../static/pictures/iit-seal.png" alt="IIT Seal" class="rounded mx-auto d-block">
                <div class="col-xs-12">
                    <div class="form-wrap">
                        <h1>Log in to your Account</h1>
                        <p>Welcome back!</p>
                        <a class="btn btn-primary btn-lg btn-block mb-3 w-100" style="background-color: #A41D21"
                            href="/login" role="button">
                            <i class="fab fa-google me-2"></i>Sign in with Google</a>
                        <a href="http://x4150my.msuiit.edu.ph/my/getmyiit.php" class="forget">New to My.IIT? Register
                            Here.</a>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}