{% extends "base.html" %}
{% block title %}
{% block pagetitle %}
{% endblock %}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/master_layout.css') }}"">
{% block pagestyle %}
{% endblock %}
{% endblock %}

{% block content %}
<!-- User Role: {{ session.get("role") }} -->
<div class=" main-container d-flex">
<div class="sidebar" id="side_nav">
  <div class="header-box px-2 pt-1 pb-4 mt-2 gap-2 d-flex justify-content-between align-items-center">
    <a href="#" class = "menu-bars" id = "hide-menu" ><i class="fas fa-bars" style="color: #ffffff;"></i></a>
    <h1 class="fs-3" >
      <span class="text-white ps-2" style = "color: #333333"></span>
      <!-- <img src="{{ url_for('static', filename='pictures/iit-seal.png') }}" alt="iit-seal"
        style="max-width: 12%; margin-left: 10px;"> -->
    </h1>
    
  </div>

  <ul class="list-unstyled px-2">
    <li class=""><a href="/home" class="text-decoration-none px-3 py-2 d-block">
        <i class="fas fa-home"></i>
        &nbsp;<span class="ms-2">Home</span></a></li>
    {% if session.get("role") != "Admin" %}
    <li class=""><a href="/subjects-handled" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-book"></i>
        <span class="ms-3">Subjects Handled</span></a></li>
    {% endif %}

    {% if session.get("role") == "Chairperson" or session.get("role") == "Admin" %}
      <li class=""><a href="/faculty" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-users"></i>
          &nbsp;<span class="ms-2">Faculty List</span></a></li>
      <li class=""><a href="/subjects" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-list-alt"></i>
          <span class="ms-3">Subject List</span></a></li>
    {% endif %}

    <li class=""><a href= "#" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-file"></i>
        &nbsp;<span class="ms-3">College Curriculum</span></a></li>
  </ul>
  <hr class="border">
  <ul class="list px-2">
    <li class=""><a href="{{url_for('admin.logout')}}" class="text-decoration-none px-3 py-2 d-block"><i
          class="fas fa-sign-out-alt"></i>>
        <span class="ms-2">Logout</span></a></li>
  </ul>
</div>
<div class="content">
  <div class="header-header">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <div class="d-flex justify-content-between d-md-none d-block">
            </div>
            <a href="#" class = "menu-bars" id = "show-menu"><i class="fas fa-bars" style="color: #ffffff;"></i></a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/subjects-handled">
                            {% if session.get("profile_picture") %}
                            <img src="{{ session['profile_picture'] }}" alt="Profile Picture" class="rounded-circle"
                                style="width: 30px; height: 30px;">
                            {% else %}
                            <i class="fas fa-user fa-fw" style="color: #FFF"></i>
                            {% endif %}
                            <span class="ps-2" style="color: #FFF">{{session['name']}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="header-placeholder"></div>
  <div class="dashboard-content">
    {% block pages%}
    {% endblock %}
  </div>
</div>
</div>
{% endblock %}

{% block script %}
<script>
  $(".sidebar ul li").on('click', function () {
    $(".sidebar ul li.active").removeClass('active');
    $(this).addClass('active');
  });

  $('.open-btn').on('click', function () {
    $('.sidebar').addClass('active');
  });

  $('.close-btn').on('click', function () {
    $('.sidebar').removeClass('active');
  })

  $(document).ready(function () {
    var path = window.location.pathname;

    $('.list-unstyled li').each(function () {
      var href = $(this).find('a').attr('href');
      if (path === href) {
        $(this).addClass('active');
      }
    });
  });

  function setDashboardPosition() {
    const isSidebarActive = localStorage.getItem('sidebarActive') === 'true';
    const dashboardContent = document.querySelector(".dashboard-content");
    const sidebar = document.querySelector(".sidebar");
    

    if (isSidebarActive) {
        document.querySelector("#side_nav").classList.add('active');
        dashboardContent.style.position = 'sticky';
        sidebar.style.zIndex = 2002;
    } else {
        document.querySelector("#side_nav").classList.remove('active');
        dashboardContent.style.position = 'absolute';
        sidebar.style.zIndex = 3002;
    }
}

// Check and set the position on the initial page load
setDashboardPosition();

const openMenu = document.querySelector("#show-menu");
const hideMenu = document.querySelector("#hide-menu");
const sideMenu = document.querySelector("#side_nav");

openMenu.addEventListener("click", function() {
    sideMenu.classList.add('active');
    setTimeout(setDashboardPosition, 250); // Set the position after a delay
    localStorage.setItem('sidebarActive', 'true');
});

hideMenu.addEventListener("click", function() {
    sideMenu.classList.remove('active');
    setDashboardPosition(); // Set the position immediately
    localStorage.setItem('sidebarActive', 'false');
});

// Additional event listeners for page redirects (assuming they trigger a new page load)
window.addEventListener('load', setDashboardPosition);

$(document).ready(function() {
    // Function to set header z-index
    function setHeaderZIndex(zIndex) {
      $(".header-header").css("z-index", zIndex);
    }
   

    // Event listener for modal shown (opened)
    $('.modal').on('shown.bs.modal', function () {
      
      setHeaderZIndex(2000);
      $(".header-header").css("display", "none");
      
    });

    // Event listener for modal hidden (closed)
    $('.modal').on('hidden.bs.modal', function () {
      
      setHeaderZIndex(2001);
      $(".header-header").css("display", "block");
    });
  });

</script>
{% block pagescript %}
<script type="text/javascript" src="../static/js/master_layout.js"></script>
{% endblock %}
{% endblock %}