{% extends "master_layout.html" %}

{% block pagetitle %}<title>Subject Handled</title> {% endblock %}

{% block pagestyle %}
<link rel="stylesheet" href="../static/css/subjectsHandled.css" />
{% endblock %}

{% block pages%}
<div class="subHandled-container">
  <div class="subHandled-title">
    <h1 class="m-0">Subjects Handled</h1>
  </div>
  <hr />
  <div class="subHandled-content">
    <div class="subHandled-header">
      <h6>School Year</h6>
      <div class="row">
        <div class="col-3">
          <select class="form-select custom-select-size" aria-label="Default select example">
            <option selected>Feature Available Soon</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-4" id="flash-messages-container">
          <!--SUBJECT FLASH MESSAGE  -->
        </div>
      </div>
    </div>

    <div class="subHandled-body">
      <div class="bs-example container subject-list-body table-responsive" data-example-id="striped-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Semester</th>
              <th>Subject Code</th>
              <th>Section</th>
              <th>Description</th>
              <th>Credits</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr class="subHandled-table-data">
              <td>1</td>
              <td>CSC181</td>
              <td>CS3</td>
              <td>Software Engineering</td>
              <td>3</td>
              <td>
                <button>Class Record</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block pagescript %}
<script></script>
{% endblock %}