{% extends "master_layout.html" %} {% block pagestyle %}
<link rel="stylesheet" href="../static/css/subjectsHandled.css" />
{% endblock %} {% block pages%}
<div class="subjects-handled-container">
  <div class="subjects-handled-header">
    <h1>Subjects Handled</h1>
  </div>
  <hr />
  <div class="subjects-handled-sy">
    <h4>School Year</h4>
    <select name="school-year" id="school-year">
      <option id="placeholder" disabled selected>Please select...</option>
      <option value="year1">2019-2020</option>
      <option value="year2">2020-2021</option>
    </select>
  </div>
  <div class="subjects-handled-content">
    <table>
      <tr class="subjects-handled-table-head">
        <th>Semester</th>
        <th>Subject Code</th>
        <th>Section</th>
        <th>Description</th>
        <th>Credits</th>
        <th>Action</th>
      </tr>
      <tr class="subjects-handled-table-data">
        <td>1</td>
        <td>CSC181</td>
        <td>CS3</td>
        <td>Software Engineering</td>
        <td>3</td>
        <td>
          <button>Class Record</button>
        </td>
      </tr>
      <tr class="subjects-handled-table-data">
        <td>1</td>
        <td>CCC181</td>
        <td>CS3</td>
        <td>Application Development</td>
        <td>3</td>
        <td>
          <button>Class Record</button>
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}

{% block pagescript %}
<script></script>
{% endblock %}