{% extends "master_layout.html" %}

{% block pagetitle %}<title>Subject Handled</title> {% endblock %}

{% block pagestyle %}
<link rel="stylesheet" href="../static/css/subjectsHandled.css" />
{% endblock %}

{% block pages%}
<div class="subHandled-container">
  <div class="subHandled-title">
    <h1 class="m-0">Subjects Handled</h1>
  </div>
  <hr />
  <div class="subHandled-content">
    <div class="subHandled-header">
      <h6>School Year</h6>
      <div class="row">
        <div class="col-3">
          <select class="form-select custom-select-size" aria-label="Default select example">
            <option disabled selected>Select S.Y.</option>
            <option value="year1">2019-2020</option>
            <option value="year2">2020-2021</option>
            <option value="year3">2021-2022</option>
          </select>
        </div>
      </div>
    </div>

    <div class="subHandled-body">
      <div class="bs-example container subject-list-body table-responsive" data-example-id="striped-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Subject Code</th>
              <th>Section</th>
              <th>Description</th>
              <th>Credits</th>
              <th>Semester</th>
              <th>School Year</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% if subjectsHandledList|length == 0 %}
            <tr>
              <td colspan="7" class="text-center" id="noSubjectsAvailable">No subjects available.</td>
            </tr>
            {% else %}
            {% for subject in subjectsHandledList %}
            <tr class="subHandled-table-data">
              <td scope="row" class="fw-bold">{{ subject[1] }}</td>
              <td>{{ subject[2] }}</td>
              <td>{{ subject[3] }}</td>
              <td>{{ subject[4] }}</td>
              <td>{{ subject[5] }}</td>
              <td>{{ subject[6] }}</td>
              <td>
                <a href="{{ url_for('classRecord.index', classrecordid=subject[0])}}"
                  class="btn btn-outline-light class-record"><i class="fa-solid fa-clipboard fa-lg"
                    style="color: #000000;"></i></a>
                </a>
              </td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block pagescript %}
{% endblock %}