{% extends "master_layout.html" %}

{% block pagetitle %}<title>Subject List</title> {% endblock %}

{% block pagestyle %}
<link rel="stylesheet" href="../static/css/subjectList.css">
{% endblock %}

{% block pages %}
<div class="subjects-list-container">
  <div class="subjects-list-header">
    <h1>Subject Lists</h1>
  </div>
  <hr />
  <div class="subjects-list-sy">
    <h4>School Year</h4>
    <select name="school-year" id="school-year">
      <option id="placeholder" disabled selected>Please select...</option>
      <option value="year1">2019-2020</option>
      <option value="year2">2020-2021</option>
    </select>
  </div>
  <div class="subjects-list-content">
    <table>
      <tr class="subjects-list-table-head">
        <th>Subject Code</th>
        <th>Section</th>
        <th>Description</th>
        <th>Credits</th>
        <th>Handler</th>
        <th>Action</th>
      </tr>
      <tr class="subjects-list-table-data">
        <td id="course-code">CCC151</td>
        <td>CS3</td>
        <td>Information Management</td>
        <td>3</td>
        <td class="fw-bold">Alrick Gicole</td>
        <td>
          <button type="button">Edit Subject</button>
        </td>
      </tr>
      <tr class="subjects-list-table-data">
        <td id="course-code">CSC181</td>
        <td>CS3</td>
        <td>Software Engineering</td>
        <td>3</td>
        <td class="fw-bold">Not Assigned</td>
        <td>
          <button type="button">Edit Subject</button>
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}

{% block pagescript %}
<script></script>
{% endblock %}